body {
  background-color: #eeeeee;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav li {
  display: inline-block;
  margin: 0 1em 0 0;
}
textarea {
  width: 40em;
  height: 20em;
}
.location {
  background-color: #FFF;
  margin: 20px auto;
  display: block;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
