<div class="nav">
    <ul>
        <li>
            <a href="{{routes.INDEX}}">Main</a>
        </li>
        <li>
            <a href="{{routes.LOCATION_ADD}}">Add a Location</a>
        </li>
    </ul>
</div>
