<h1>{{title}}</h1>
{{> nav}}

<form action="{{routes.DB.TASK_ADD}}" method="post">
  <p>Name: <input type="text" name="taskName"></p>
  <p>Cost (dollars): <input type="text" name="cost"></p>
  <br>
  <p>Location
    <p>Name: <input type="text" name="locationName"></p>
    <p>Lat: <input type="text" name="lat"></p>
    <p>Lng: <input type="text" name="lng"></p>
    <p>Radius (in meters): <input type="text" name="radius"></p>
  </p>
  <br>
  <p class="actions">Actions <a class="add-action" href="#">(add)</a>

  </p>
  <br>
  <input type="submit">
</form>

<script>
$(document).ready(function () {
  var num = 0;
  $(".add-action").on("click", function (event) {
    event.preventDefault();
    $(".actions").append("<p>Description: <input type='text' name='taskActions["+num+"][description]'> " +
            "Type: <input type='text' name='taskActions["+num+"][type]'></p>");
    num++;
  });
});
</script>
